<%= form_with(model: @goal, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    
  </div>

    <div class="time">
    <div class="form-tag">期限</div>
    <%= form.datetime_select :start_time %>
  </div>
  
  


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>